<%= provide(:title, "Draw Comparisons") %>
<h3>
	<%= "Draw Comparisons" %>
<small><%= "All Draws" %></small>
</h3>


<div class="panel panel-default">
  <div>
    <table class="table table-bordered table-hoverlarge-12 columns large-centered">
        <thead>
          <tr>
            <th>Date</th>
            <th>Tickets</th>
            <th></th>
            <th>MTN Tickets</th>
            <th></th>
  					<th>Airtel Tickets </th>
            <th></th>
            <th>Users</th>
            <th></th>
            <th>New Users</th>
            <th></th>
            <th>Ticket Revenue</th>
            <th></th>
            <th>Ticket Payout</th>
            <th></th>
            <th>Gross Revenue</th>
            <th></th>
            <th>RTP</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
  				<% @series.each do |f| %>
              <tr>
                <td><%= f[:date] %></td>
  							<td><%= f[:tickets] %></td>
                <td class="<%= f[:ticket_change] >= 0 ? "rtp_green" : "rtp_red" %> ">
                  <em class="<%= f[:ticket_change] >= 0 ? "fa fa-sort-asc" : "fa fa-sort-desc" %> "></em>
                  <%= number_to_percentage(f[:ticket_change], precision: 0) %>
                    
                </td>
  							<td><%= f[:mtn_count] %></td>
                <td class="<%= f[:mtn_change] >= 0 ? "rtp_green" : "rtp_red" %> ">
                  <em class="<%= f[:mtn_change] >= 0 ? "fa fa-sort-asc" : "fa fa-sort-desc" %> "></em>
                  <%= number_to_percentage(f[:mtn_change], precision: 0) %>
                    
                </td>
                <td><%= f[:airtel_count] %></td>
                <td class="<%= f[:airtel_change] >= 0 ? "rtp_green" : "rtp_red" %> " >
                  <em class="<%= f[:airtel_change] >= 0 ? "fa fa-sort-asc" : "fa fa-sort-desc" %> "></em>
                  <%= number_to_percentage(f[:airtel_change], precision: 0) %>
                    
                </td>
                <td><%= f[:users] %></td>
                <td class="<%= f[:users_change] >= 0 ? "rtp_green" : "rtp_red" %> " >
                  <em class="<%= f[:users_change] >= 0 ? "fa fa-sort-asc" : "fa fa-sort-desc" %> "></em>
                  <%= number_to_percentage(f[:users_change], precision: 0) %>
                    
                </td>
                <td><%= f[:new_users] %></td>
                <td class="<%= f[:new_users_change] >= 0 ? "rtp_green" : "rtp_red" %> " >
                  <em class="<%= f[:new_users_change] >= 0 ? "fa fa-sort-asc" : "fa fa-sort-desc" %> "></em>
                  <%= number_to_percentage(f[:new_users_change], precision: 0) %>
                    
                </td>
                <td><%= number_with_delimiter(f[:ticket_revenue]) %></td>
                <td class="<%= f[:revenue_change] >= 0 ? "rtp_green" : "rtp_red" %> " >
                  <em class="<%= f[:revenue_change] >= 0 ? "fa fa-sort-asc" : "fa fa-sort-desc" %> "></em>
                  <%= number_to_percentage(f[:revenue_change], precision: 0) %>
                    
                </td>
                <td><%= number_with_delimiter(f[:ticket_payout]) %></td>
                <td class="<%= f[:payout_change] >= 0 ? "rtp_green" : "rtp_red" %> " >
                  <em class="<%= f[:payout_change] >= 0 ? "fa fa-sort-asc" : "fa fa-sort-desc" %> "></em>
                  <%= number_to_percentage(f[:payout_change], precision: 0) %>
                    
                </td>
                <td><%= number_with_delimiter(f[:gross_revenue]) %></td>
                <td class="<%= f[:gross_change] >= 0 ? "rtp_green" : "rtp_red" %> " >
                  <em class="<%= f[:gross_change] >= 0 ? "fa fa-sort-asc" : "fa fa-sort-desc" %> "></em>
                  <%= number_to_percentage(f[:gross_change], precision: 0) %>
                    
                </td>
                <td><%= number_to_percentage(f[:rtp], precision: 2) %></td>
                <td class="<%= f[:rtp_change] >= 0 ? "rtp_green" : "rtp_red" %> ">
                  <em class="<%= f[:rtp_change] >= 0 ? "fa fa-sort-asc" : "fa fa-sort-desc" %> "></em>
                  <%= number_to_percentage(f[:rtp_change], precision: 0) %>
                    
                </td>


              </tr>
  				<% end %>
        </tbody>
    </table>
  </div>
</div>
