<%= provide(:title, "Draw Comparisons") %>
<h3>
	<%= "Draw Comparisons" %>
<small><%= "All Draws" %></small>
</h3>


<div>
  <table class="table table-striped table-bordered table-hoverlarge-12 columns large-centered">
      <thead>
        <tr>
          <th>Date</th>
          <th>Tickets</th>
          <th></th>
          <th>MTN Tickets</th>
          <th></th>
					<th>Airtel Tickets </th>
          <th></th>
          <th>Users</th>
          <th></th>
          <th>New Users</th>
          <th></th>
          <th>Ticket Revenue</th>
          <th></th>
          <th>Ticket Payout</th>
          <th></th>
          <th>Gross Revenue</th>
          <th></th>
          <th>RTP</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
				<% @series.each do |f| %>
            <tr>
              <td><%= f[:date] %></td>
							<td><%= f[:ticket_count] %></td>
              <td><%= f[:ticket_change] %></td>
							<td><%= f[:mtn_count] %></td>
              <td><%= f[:mtn_change] %></td>
              <td><%= f[:airtel_count] %></td>
              <td><%= f[:airtel_change] %></td>
              <td><%= f[:users] %></td>
              <td><%= f[:users_change] %></td>
              <td><%= f[:new_users] %></td>
              <td><%= f[:new_users_change] %></td>
              <td><%= number_with_delimiter(f[:ticket_revenue]) %></td>
              <td><%= f[:revenue_change] %></td>
              <td><%= number_with_delimiter(f[:ticket_payout]) %></td>
              <td><%= f[:payout_change] %></td>
              <td><%= number_with_delimiter(f[:gross_revenue]) %></td>
              <td><%= f[:gross_change] %></td>
              <td><%= number_to_percentage(f[:rtp], precision: 2) %></td>
              <td><%= f[:rtp_change] %></td>
            
					
            </tr>
				<% end %>
      </tbody>
  </table>
</div>


