<%= provide(:title, "Tickets") %>
<div id="notice">

</div>
<h3>
	<%= "Tickets" %>
	<small><%= "All Tickets" %></small>
</h3>

<div class="panel panel-default">
	<%= search_form_for @q, url: tickets_path, html: { method: :get } do |f| %>
	<div class="panel-body">
		<fieldset>
			<div class="col-md-6">
				<div class="form-group">
					<%= f.label :phone_number, class:"col-lg-2 control-label" %>
					<div class="col-sm-6">
						<%= f.search_field :phone_number_eq, { include_blank: true, :class=>"form-control", id: "phone_number"}%>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<%= f.label :ticket_id, "Ticket ID", class:"col-lg-2 control-label" %>
					<div class="col-sm-6">
						<%= f.search_field :reference_eq, { include_blank: true, :class=>"form-control", id: "ticket_id"}%>
					</div>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<div class="col-md-6">
				<div class="form-group">
					<%= f.label :created_at_gteq, "Created After", class:"col-lg-2 control-label" %>
					<div class="col-sm-6">
						<%= f.search_field :created_at_gteq, {include_blank: true, id: "broadcast_schedule", class: "form-control"} %>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<%= f.label :created_at_lteq, "Created Before", class:"col-lg-2 control-label" %>
					<div class="col-sm-6">
						<%= f.search_field :created_at_lteq, {include_blank: true, id: "broadcast_schedule_cp", class: "form-control"} %>
					</div>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<div class="col-md-6">
				<div class="form-group">
					<%= f.label :amount_gteq, "Amount Min", class:"col-lg-2 control-label" %>
					<div class="col-sm-6">
						<%= f.search_field :amount_gteq, {include_blank: true, id: "amount_min", class: "form-control"} %>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<%= f.label :amount_lteq, "Amount Max", class:"col-lg-2 control-label" %>
					<div class="col-sm-6">
						<%= f.search_field :amount_lteq, {include_blank: true, id: "amount_max", class: "form-control"} %>
					</div>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<div class="col-md-6">
				<div class="form-group">
					<%= f.label :win_amount_gt, "Winner", class:"col-lg-2 control-label" %>
					<div class="col-sm-6">
						<%= f.select :win_amount_gt, options_for_select([["True", "0"]]), {include_blank: true}, {:class=>"form-control", id: "winner"}%>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<%= f.label :paid_eq, "Paid", class:"col-lg-2 control-label" %>
					<div class="col-sm-6">
						<%= f.select :paid_eq, options_for_select([["True", true], ["False", false]]), {include_blank: true}, {:class=>"form-control", id: "paid"} %>
					</div>
				</div>
			</div>
		</fieldset>
		<div class="pannel-footer">
			<div class="clearfix">
				<div class="pull-right">
					<%= f.submit 'Search', :class=>'btn btn-primary' %>
				</div>
			</div>
		</div>
	</div>
	<% end %>
</div>

<div class="table-responsive">
	<table class="table table-striped table-bordered table-hoverlarge-12 columns large-centered">
		<thead>
			<tr>
				<th>No</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Phone Number</th>
				<th>Ticket ID</th>
				<th>Selection</th>
				<th>Winning Number</th>
				<th>Amount Played</th>
				<th>Matched</th>
				<th>Amount Won</th>
				<th>Keyword</th>
				<th>Paid</th>
				<th><%= sort_link(@q, :created_at, 'Time') %></th>
				<th>Confirmation</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @tickets.each_with_index do |ticket, i| %>
			<tr>
				<td><%= (i+1) %></td>
				<td><%= ticket.first_name %></td>
				<td><%= ticket.last_name %></td>
				<td><%= ticket.phone_number %></td>
				<td><%= ticket.reference %></td>
				<td><%= ticket.data %></td>
				<td><%= ticket.winning_number %></td>
				<td><%= ticket.amount %></td>
				<td><%= ticket.number_matches %></td>
				<td><%= ticket.win_amount %></td>
				<td><%= ticket.keyword %></td>
				<% if ticket.paid == true %>
				<td>
					<div class="rtp_green">
						<%= ticket.paid.to_s.humanize %>
					</div>
				</td>
				<% end %>
				<% if ticket.paid == false %>
				<td>
					<div class="rtp_red">
						<%= ticket.paid.to_s.humanize %>
					</div>
				</td>
				<% end %>
				<td><%= ticket.created_at.to_datetime.strftime("%b %d, %Y %I:%M%P") %></td>
				<% if ticket.confirmation == true %>
				<td>
					<div class="rtp_green">
						<%= ticket.confirmation.to_s.humanize %>
					</div>
				</td>
				<% end %>
				<% if ticket.confirmation == false %>
				<td>
					<div class="rtp_red">
						<%= ticket.confirmation.to_s.humanize %>
					</div>
				</td>
				<% end %>
				<td>
					<% if ticket.win_amount > 0 && ticket.paid == false %>
					<%= link_to "Pay", ticket_path(id: ticket.id, amount: ticket.win_amount, gamer: ticket.gamer_id), method: :put, :remote => true, :class => 'btn btn-info payment' %>
					<!-- <#%= link_to "Pay", ticket_path(id: ticket.id, amount: ticket.win_amount, gamer: ticket.gamer_id), method: :put, :class => 'btn btn-info' %> -->
					<% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<%= paginate @tickets %>
	<p>
		<%= link_to "Download CSV", "/tickets.csv", class: "button expand pull-right" %>
	</p>
</div>
