<%= provide(:title, "Tickets") %>
<h3>
	<%= "Tickets" %>
<small><%= "All Tickets" %></small>
</h3>
</h3>

<div>
  <table class="table table-striped table-bordered table-hoverlarge-12 columns large-centered">
      <thead>
        <tr>
          <th>No</th>
          <th>Phone #</th>
          <th>Ticket ID</th>
          <th># Played</th>
          <th>Amount</th>
          <th> # Matched</th>
          <th>Amount Won</th>
          <th>Paid</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <% @tickets.each_with_index do |ticket, i| %>
            <tr>
              <td><%= (i+1) %></td>
              <td><%= ticket.phone_number %></td>
              <td><%= ticket.reference %></td>
              <td><%= ticket.data %></td>
              <td><%= ticket.amount %></td>
              <td><%= ticket.number_matches %></td>
              <td><%= ticket.win_amount %></td>
              <td><%= ticket.paid %></td>
              <td><%= ticket.created_at.to_datetime.strftime("%b %d, %Y %I:%M%P") %></td>

            </tr>
        <% end %>
      </tbody>
  </table>
  <%= paginate @tickets %>
</div>
