<%= provide(:title, "Payments") %>
<div id="notice">

</div>
<h3>
   <%= "Payments" %>
   <small><%= "All Payments" %></small>
</h3>

<div class="panel panel-default">
   <%= search_form_for @q, url: payments_path, html: { method: :get } do |f| %>
   <div class="panel-body">
      <fieldset>
         <div class="form-group">
            <%= f.label :phone_number, class:"col-lg-2 control-label" %>
            <div class="col-sm-6">
               <%= f.search_field :phone_number_eq, { include_blank: true, :class=>"form-control", id: "phone_number"}%>
            </div>
         </div>
      </fieldset>
      <div class="pannel-footer">
         <div class="clearfix">
            <div class="pull-right">
               <%= f.submit 'Search', :class=>'btn btn-primary' %>
            </div>
         </div>
      </div>
   </div>
   <% end %>
</div>

<div class="table-responsive">
   <table class="table table-striped table-bordered table-hoverlarge-12 columns large-centered">
      <thead>
         <tr>
            <th>No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Initiated By</th>
            <th>Approved/Cancelled By</th>
            <th>Time</th>
            <th>Actions</th>
         </tr>
      </thead>
      <tbody>
         <% @payments.each_with_index do |payment, i| %>
         <tr>
            <td><%= (i+1) %></td>
            <td><%= payment.first_name %></td>
            <td><%= payment.last_name %></td>
            <td><%= payment.phone_number %></td>
            <td><%= payment.amount %></td>
            <% if (payment.status == "PENDING" || payment.status == "PROCESSING") %>
  						<td>
  							<div class="label label-warning">
  								<%= payment.status%>
  							</div>
  						</td>
  					<% end %>
  					<% if payment.status == "SUCCESS" %>
  						<td>
  							<div class="label label-success">
  								<%= payment.status%>
  							</div>
  						</td>
  					<% end %>
  					<% if (payment.status == "FAILED" || payment.status == "CANCELLED") %>
  						<td>
  							<div class="label label-danger">
  								<%= payment.status%>
  							</div>
  						</td>
  					<% end %>
            <td><%= User.find(payment.initiated_by).first_name %></td>
            <td><%= User.find(payment.approved_by).first_name unless payment.approved_by == nil %></td>
            <td><%= (payment.created_at.to_datetime.strftime("%b %d, %Y %I:%M%P")) %></td>
            <td>
               <% if (can? :update, Payment) && (payment.status == "FAILED" || payment.status == "PENDING") %>
                  <%= link_to "Approve", payment_path(id: payment.id, approved_by: @current_user.id), method: :put, remote: true, :class => 'btn btn-info btn-sm float-left payment' %>
               <% end %>
               <% if (can? :update, Payment) && (payment.status == "PENDING") %>
                  <%= link_to "Cancel", cancel_payment_path(id: payment.id, approved_by: @current_user.id), method: :put, remote: true, :class => 'btn btn-danger btn-sm float-right payment' %>
               <% end %>
            </td>

         </tr>
         <% end %>
      </tbody>
   </table>
   <%= paginate @payments %>

</div>
