<div class="aside-inner">
   <nav class="sidebar" data-sidebar-anyclick-close="">
      <!-- START sidebar nav-->
      <ul class="nav">
         <!-- Iterates over all sidebar items-->
         <li class="<%= 'active' if controller?('manager/messages')  && action?('index') %>">
            <a href="<%= manager_messages_path %>">
               <em class="fa fa-tasks"></em>
               <span data-localize="sidebar.nav.DASHBOARD">Queues</span>
            </a>
         </li>
         <li class="<%= 'active' if controller?('manager/sent_messages')  && action?('index') %>">
         <a href="<%= manager_sent_messages_path %>">
            <em class="icon-envelope-open"></em>
            <span data-localize="sidebar.nav.DASHBOARD">Messages</span>
         </a>
      </li>
         <li class="<%= 'active' if controller?('manager/smpp_client_top_up' || 'manager/web_client_top_up')%>">
            <a href="#dashboard" title="Transactions" data-toggle="collapse">
               <em class="fa fa-briefcase"></em>
               <span data-localize="sidebar.nav.DASHBOARD">Transactions</span>
            </a>
            <ul id="dashboard" class="nav sidebar-subnav collapse">
               <li class="<%= 'active' if controller?('manager/smpp_client_top_up') && action?('index') %>">
                  <a href="<%= manager_smpp_client_home_path %>" title="Smpp clients">
                     <span>Smpp Client Credits</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('manager/web_client_top_up') && action?('index') %>">
                  <a href="<%= manager_web_client_home_path %>" title="Web clients">
                     <span>Web Client Credits</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('manager/smpp_transaction_history') && action?('index') %>">
                  <a href="<%= manager_smpp_transactions_path %>" title="Transaction History">
                     <span>Smpp Top Up History</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller?('manager/web_transaction_history') && action?('index') %>">
                  <a href="<%= manager_web_transactions_path %>" title="Transaction History">
                     <span>Web Top Up History</span>
                  </a>
               </li>
            </ul>
         </li>

      </ul>

   </nav>
</div>





