<div class="aside-inner">
   <nav class="sidebar" data-sidebar-anyclick-close="">
      <!-- START sidebar nav-->
      <ul class="nav">
         <!-- Iterates over all sidebar items-->
         <li data-step="2" >
            <a href="#ai_analytics" title="Layouts" data-toggle="collapse">
               <em class="icon-graph"></em>
               <span>Analytics</span>
            </a>
            <ul id="ai_analytics" class="nav sidebar-subnav collapse">
               <% if can? :manage, "comparisons" %>
                 <li class="<%= 'active' if controller.controller_name == 'comparisons' %>">
                   <a href="<%= comparisons_path %>">
                     <span>Daily Analytics</span>
                   </a>
                 </li>
               <% end %>
               <li class="<%= 'active' if controller.controller_name == 'analytics' %>">
                  <a href="<%= analytics_path %>">
                     <span>User Analytics</span>
                  </a>
               </li>
               <% if can? :manage, Ticket %>
                 <li class="<%= 'active' if controller.controller_name == 'ticket_analytics' %>">
                    <a href="<%= ticket_analytics_path %>">
                       <span>Ticket Analytics</span>
                    </a>
                 </li>
               <% end %>

               <% if can? :manage, "revenues" %>
                 <li class="<%= 'active' if controller.controller_name == 'revenues' %>">
                    <a href="<%= revenues_path %>">
                       <span>Revenue Analytics</span>
                    </a>
                 </li>
               <% end %>

            </ul>
         </li>
         <% if can? :manage, Collection %>
           <li data-step="2" >
              <a href="#ai_finances" title="Layouts" data-toggle="collapse">
                 <em class="fa fa-money" aria-hidden="true"></em>
                 <span>Finances</span>
              </a>
              <ul id="ai_finances" class="nav sidebar-subnav collapse">
                 <li class="<%= 'active' if controller.controller_name == 'collections' %>">
                    <a href="<%= collections_path %>">
                       <span>Collections</span>
                    </a>
                 </li>
                 <li class="<%= 'active' if controller.controller_name == 'disbursements' %>">
                    <a href="<%= disbursements_path %>">
                       <span>Disbursements</span>
                    </a>
                 </li>
              </ul>
           </li>
         <% end %>

         <% if can? :read, Payment %>
           <li class="<%= 'active' if controller.controller_name == 'payments' %>" data-step="2" >
              <a href="#ai_payments" title="Layouts" data-toggle="collapse">
                 <em class="fa fa-share" aria-hidden="true"></em>
                 <span>Payments</span>
              </a>
              <ul id="ai_payments" class="nav sidebar-subnav collapse">
                 <li>
                    <a href="<%= payments_path %>">
                       <span>Payments</span>
                    </a>
                 </li>
                 <li>
                    <a href="<%= new_payment_path %>">
                       <span>New Payments</span>
                    </a>
                 </li>
              </ul>
           </li>
         <% end %>

         <li class="<%= 'active' if controller.controller_name == 'gamers' %>" data-step="1" >
            <a href="<%= gamers_path %>">
               <em class="icon-user"></em>
               <span data-localize="sidebar.nav.DASHBOARD">Gamers</span>
            </a>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'jackpot' %>" data-step="2" >
            <a href="#ai_jackpot" title="Layouts" data-toggle="collapse">
               <em class="fa fa-trophy" aria-hidden="true"></em>
               <span>Jackpot</span>
            </a>
            <ul id="ai_jackpot" class="nav sidebar-subnav collapse">
               <li>
                  <a href="<%=jackpot_path %>">
                     <span>Supa3</span>
                  </a>
               </li>
               <li>
                  <a href="<%= supa5_draws_path %>">
                     <span>Supa5</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'draw_offers' %>" data-step="2" >
            <a href="#ai_promotions" title="Layouts" data-toggle="collapse">
               <em class="fa fa-bitcoin" aria-hidden="true"></em>
               <span>Promotions</span>
            </a>
            <ul id="ai_promotions" class="nav sidebar-subnav collapse">
               <li>
                  <a href="<%= new_draw_offer_path %>">
                     <span>Create Promotion</span>
                  </a>
               </li>
               <li>
                  <a href="<%= draw_offers_path %>">
                     <span>Created Promotions</span>
                  </a>
               </li>
            </ul>
         </li>
         <!-- Bonus Tickets --->
         <li class="<%= 'active' if controller.controller_name == 'bonus_tickets' %>" data-step="2" >
            <a href="#ai_bonus_tickets" title="Layouts" data-toggle="collapse">
               <em class="fa fa-gift" aria-hidden="true"></em>
               <span>Bonus Tickets Promo</span>
            </a>
            <ul id="ai_bonus_tickets" class="nav sidebar-subnav collapse">
               <li>
                  <a href="<%= new_bonus_ticket_path %>">
                     <span>Create Promotion</span>
                  </a>
               </li>
               <li>
                  <a href="<%= bonus_tickets_path %>">
                     <span>Created Promotions</span>
                  </a>
               </li>
            </ul>
         </li>
         <!-- End of Bonus Tickets --->
         <li class="<%= 'active' if controller.controller_name == 'tickets' %>" data-step="2" >
            <a href="#ai_tickets" title="Layouts" data-toggle="collapse">
               <em class="fa fa-ticket" aria-hidden="true"></em>
               <span>Tickets</span>
            </a>
            <ul id="ai_tickets" class="nav sidebar-subnav collapse">
               <li>
                  <a href="<%= tickets_path %>">
                     <span>View Tickets</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'draws' %>" data-step="2" >
            <a href="#ai_draws" title="Layouts" data-toggle="collapse">
               <em class="fa fa-spinner" aria-hidden="true"></em>
               <span>Draws</span>
            </a>
            <ul id="ai_draws" class="nav sidebar-subnav collapse">
               <li>
                  <a href="<%= draws_path %>">
                     <span>View Draws</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'broadcasts' %>" data-step="2" >
            <a href="#ai_broadcasts" title="Layouts" data-toggle="collapse">
               <em class="icon-envelope-open" aria-hidden="true"></em>
               <span>Broadcasts</span>
            </a>
            <ul id="ai_broadcasts" class="nav sidebar-subnav collapse">
               <li>
                  <a href="<%= new_broadcast_path %>">
                     <span>Schedule Broadcast</span>
                  </a>
               </li>
               <li>
                  <a href="<%= broadcasts_path %>">
                     <span>Scheduled Broadcasts</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'push_pay_broadcasts' %>" data-step="2" >
            <a href="#ai_push_pay_broadcasts" title="Layouts" data-toggle="collapse">
               <em class="fa fa-rocket" aria-hidden="true"></em>
               <span>Push Broadcasts</span>
            </a>
            <ul id="ai_push_pay_broadcasts" class="nav sidebar-subnav collapse">
               <li>
                  <a href="<%= new_push_pay_broadcast_path %>">
                     <span>New Push Broadcasts</span>
                  </a>
               </li>
               <li>
                  <a href="<%= push_pay_broadcasts_path %>">
                     <span>Push Broadcasts</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'api_users' %>" data-step="2" >
            <a href="#ai_developer" title="Layouts" data-toggle="collapse">
               <em class="fa fa-code"></em>
               <span>Developer</span>
            </a>
            <ul id="ai_developer" class="nav sidebar-subnav collapse">
               <li>
                  <a href="<%= api_users_path %>">
                     <span>API Users</span>
                  </a>
               </li>
               <li>
                  <a href="<%= new_api_user_path %>">
                     <span>Create API Users</span>
                  </a>
               </li>

            </ul>
         </li>

        <% if can? :manage, Report %>
          <li class="<%= 'active' if controller.controller_name == 'reports' %>" data-step="2" >
             <a href="#ai_reports" title="Layouts" data-toggle="collapse">
                <em class="fa fa-line-chart" aria-hidden="true"></em>
                <span>Reports</span>
             </a>
             <ul id="ai_reports" class="nav sidebar-subnav collapse">
                <li>
                   <a href="<%= reports_path %>">
                      <span>View Reports</span>
                   </a>
                </li>
             </ul>
          </li>
        <% end %>

      </ul>
   </nav>
</div>
