<div class="aside-inner">
   <nav class="sidebar" data-sidebar-anyclick-close="">
      <!-- START sidebar nav-->
      <ul class="nav">
         <!-- Iterates over all sidebar items-->
         <li class="<%= 'active' if controller.controller_name == 'analytics' || controller.controller_name == 'revenues' %>" data-step="2" >
            <a href="#ai_analytics" title="Layouts" data-toggle="collapse">
               <em class="icon-graph"></em>
               <span>Analytics</span>
            </a>
            <ul id="ai_analytics" class="nav sidebar-subnav collapse">
               <li>
                 <a href="<%= comparisons_path %>">
                   <span>Daily Analytics</span>
                 </a>
               </li>
               <li>
                  <a href="<%= analytics_path %>">
                     <span>User Analytics</span>
                  </a>
               </li>
               <li>
                  <a href="<%= ticket_analytics_path %>">
                     <span>Ticket Analytics</span>
                  </a>
               </li>
               <li>
                  <a href="<%= revenues_path %>">
                     <span>Revenue Analytics</span>
                  </a>
               </li>
               
            </ul>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'gamers' %>" data-step="1" >
            <a href="<%= gamers_path %>">
               <em class="icon-user"></em>
               <span data-localize="sidebar.nav.DASHBOARD">Gamers</span>
            </a>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'tickets' %>" data-step="2" >
            <a href="#ai_tickets" title="Layouts" data-toggle="collapse">
               <em class="icon-wallet"></em>
               <span>Tickets</span>
            </a>
            <ul id="ai_tickets" class="nav sidebar-subnav collapse">
               <li>
                  <a href="<%= tickets_path %>">
                     <span>View Tickets</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'draws' %>" data-step="2" >
            <a href="#ai_draws" title="Layouts" data-toggle="collapse">
               <em class="fa fa-filter"></em>
               <span>Draws</span>
            </a>
            <ul id="ai_draws" class="nav sidebar-subnav collapse">
               <li>
                  <a href="<%= draws_path %>">
                     <span>View Draws</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'broadcasts' %>" data-step="2" >
            <a href="#ai_broadcasts" title="Layouts" data-toggle="collapse">
               <em class="icon-envelope-open"></em>
               <span>Broadcasts</span>
            </a>
            <ul id="ai_broadcasts" class="nav sidebar-subnav collapse">
               <li>
                  <a href="<%= new_broadcast_path %>">
                     <span>Schedule Broadcast</span>
                  </a>
               </li>
               <li>
                  <a href="<%= broadcasts_path %>">
                     <span>Scheduled Broadcasts</span>
                  </a>
               </li>
            </ul>
         </li>

      </ul>
   </nav>
</div>
