<div class="aside-inner">
   <nav class="sidebar" data-sidebar-anyclick-close="">
      <!-- START sidebar nav-->
      <ul class="nav">
         <!-- Iterates over all sidebar items-->
         <li class="<%= 'active' if controller.controller_name == 'analytics' %>" data-step="1" >
            <a href="<%= analytics_path %>">
               <em class="icon-home"></em>
               <span data-localize="sidebar.nav.DASHBOARD">Analytics</span>
            </a>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'gamers' %>" data-step="1" >
            <a href="<%= gamers_path %>">
               <em class="icon-home"></em>
               <span data-localize="sidebar.nav.DASHBOARD">Gamers</span>
            </a>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'broadcasts' %>" data-step="2" >
            <a href="#ai_tickets" title="Layouts" data-toggle="collapse">
               <em class="icon-envelope-open"></em>
               <span>Tickets</span>
            </a>
            <ul id="ai_tickets" class="nav sidebar-subnav collapse">
               <li>
                  <a href="<%= tickets_path %>">
                     <span>View Tickets</span>
                  </a>
               </li>
               <li>
                  <a href="<%= new_ticket_path %>">
                     <span>Upload Tickets</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'broadcasts' %>" data-step="2" >
            <a href="#ai_broadcasts" title="Layouts" data-toggle="collapse">
               <em class="icon-envelope-open"></em>
               <span>Broadcasts</span>
            </a>
            <ul id="ai_broadcasts" class="nav sidebar-subnav collapse">
               <li>
                  <a href="<%= new_broadcast_path %>">
                     <span>Send Broadcast</span>
                  </a>
               </li>
               <li>
                  <a href="<%= broadcasts_path %>">
                     <span>Sent Broadcasts</span>
                  </a>
               </li>
            </ul>
         </li>

      </ul>

   </nav>
</div>
