<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />

   <title>SkySente AI| <%= yield(:title) %></title>
   <%= Gon::Base.render_data %>
   <%= stylesheet_link_tag  "application", :media => "all" %>
   <%= csrf_meta_tags %>
</head>

<body>

   <div class="wrapper">
      <!-- top navbar-->
      <header class="topnavbar-wrapper">
         <%= render partial: "layouts/partials/topnavbar" %>
      </header>
      <!-- sidebar-->
      <aside class="aside">
         <%= render partial: "layouts/partials/sidebar" %>
      </aside>

      <!-- Main section-->
      <section>
         <!-- Page content-->
         <div class="content-wrapper">
            <%= render partial: "layouts/partials/flash" %>
            <%= yield %>
         </div>
      </section>
      <!-- Page footer-->
      <footer>
         <%= render partial: "layouts/partials/footer" %>
      </footer>

   </div>
   <!-- =============== APP SCRIPTS ===============-->
   <%= javascript_include_tag 'application' %>
   <%= javascript_include_tag 'analytics' %>
   <%= javascript_include_tag 'revenues' %>
   <%= javascript_include_tag 'echarts.min' %>
   <%= yield :body_area %>

</body>

</html>
